* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.content-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1100px;
    margin: 12px auto;
    text-align: left;
}

.topo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}


/* tabela */
table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: left;
    height: 35px;
}

th {
    background-color: #fff;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: var(--fundo-dois);
}

tbody tr:hover {
    background-color: #ccc;
}



/* ações */
.acoes {
    white-space: nowrap;
}

/* botões */
button {
    border: none;
    border-radius: 5px;
    padding: 6px 8px;
    font-size: 10px;
    color: var(--cor-letra-clara);
    cursor: pointer;
}

.btn-editar {
    background-color: #29802c;
    margin-right: 8px;
}

.btn-editar:hover {
    background-color: color-mix(in srgb, #29802c 90%, black);
}


.btn-excluir {
    background-color: #a41b11;
}

.btn-excluir:hover {
    background-color: color-mix(in srgb, #a41b11 90%, black);
}

/* Botão incluir */
.btn-incluir {
    display: block;
    width: 90%;
    margin: 27px auto 0;
    padding: 6px 10px;
    background-color: var(--fundo-um);
    color: var(--cor-letra-clara);
    border-radius: 5px;
}

.btn-incluir:hover {
    background-color: color-mix(in srgb, var(--fundo-um) 90%, black);
}

/* Responsividade */
@media (max-width: 600px) {
    .content-container {
        width: 95%;
        overflow-x: auto;
    }

    table {
        min-width: 650px;
    }

    .btn-incluir {
        min-width: 100%;
    }
}


/*  */
