/* aqui ficam as variáveis globais pra reutilizarmos durante o código */
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}


:root {
    /* --fundo-um: #B90E16; */
    --fundo-um: #650011;
    --fundo-dois: #DDD;
    --fundo-tres: #EEE;
    --fundo-quatro: #850016;
    --cor-letra-clara: #f0f0f0;
    --cor-letra-escura: #222;
}

* {
    padding: 0;
    margin: 0;

}

body {
    background-color: var(--fundo-tres);
}